/Cityscapes
/GTA5
/my_checkpoint
/Lib
/Scripts

/share

/checkpoints/latest*
/checkpoints/best*
/checkpoints/Cityscape*
/checkpoints/GTA5*
/checkpoints/Domain*
/checkpoints/DA*
/runs/

/model/__pycache__
/dataset/__pycache__
/training/__pycache__
/validation/__pycache__
/__pycache__

pyvenv.cfg

